CONFIG_TINYUSB_NET_MODE_NCM=y
CONFIG_USBCOERCER_LOCAL_IP="192.168.7.1"
CONFIG_USBCOERCER_SUBNET_MASK="255.255.255.0"
CONFIG_USBCOERCER_GATEWAY="0.0.0.0"
CONFIG_USBCOERCER_MAC_ADDRESS="02:12:34:56:78:9A"
CONFIG_USBCOERCER_DHCP_POOL_START="192.168.7.2"
CONFIG_USBCOERCER_DHCP_POOL_SIZE=3
CONFIG_USBCOERCER_DHCP_LEASE_TIME=86400
CONFIG_USBCOERCER_DHCP_DNS=""
CONFIG_USBCOERCER_DHCP_DOMAIN="badnet"
CONFIG_USBCOERCER_ENABLE_WPAD=y
CONFIG_USBCOERCER_WPAD_URL="http://192.168.7.1/wpad.dat"
CONFIG_USBCOERCER_ENABLE_STATIC_ROUTES=n
CONFIG_USBCOERCER_STATUS_LED=y
CONFIG_USBCOERCER_STATUS_LED_GPIO=35
CONFIG_USBCOERCER_STATUS_LED_RMT_RESOLUTION=10000000
CONFIG_USBCOERCER_STATUS_LED_BRIGHTNESS=32
